* {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: black;
}

/* Search bar styling */
#searchTextDesktop {
    display: none;
}

.search-bar {
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #323232;
    min-height: 2rem;
    border-radius: 5px;
}

.search-bar svg {
    fill: #FBFCF8;
    flex: 1;
    height: 1rem;
}

.search-bar > form {
    height: 100%;
    flex: 15;
    display: flex;
}

input[name="user-search"] {
    height: 100%;
    width: 78vw;
    border: none;
    background-color: transparent;
    color: white;
    flex: 15;
}

input[name="user-search"]:focus-visible {
    outline: none;
}

.search-bar > form > button {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 100%;
    width: 5vw;
    flex: 1;
}

#mic {
    display: none;
}

/* Search results styling */
h2 {
    margin: 1rem 0.5rem;
}

.results svg {
    fill: #F5FEFD;
}

.search {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.search-result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.search-result > img {
    min-width: 8rem;
    max-height: 6rem;
}

.search-text {
    flex: 15;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text > h3 {
    width: fit-content;
    margin: 0;
}

.search-text > svg {
    height: 1.5rem;
    width: 1.5rem;
}

/* Bottom menu styling */
.bottom-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: black;
    padding: 0.5rem 0;
    border-top: 1px solid gray;
    height: 40px;
}

.bottom-menu a {
    text-decoration: none;
    height: 100%;
}

.bottom-menu a:visited {
    text-decoration: none;
}

.bottom-menu p {
    margin: 0;
    font-weight: 200;
    font-size: 0.7rem;
}

.bottom-menu svg {
    fill: #F8EEEC;
    padding-top: 0.1rem;
    width: 1rem;
    height: 1.5rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

@media screen and (min-width: 1400px) {
    .search {
        width: 40vw;
    }

    .search-bar > form {
        width: 15vw;
    }

    .search-bar > form > button {
        display: none;
    }

    #mic {
        display: inline-block;
        height: 1.5rem;
    }

    .results {
        display: flex;
        flex-direction: row;
        margin: 0 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #searchTextDesktop {
        display: block;
        font-size: 1rem;
        margin: 0;
        padding: 0.5rem;
        margin: 1rem 0;
        background-color: gray;
    }

    #searchTextMobile {
        display: none;
    }

    .search-result {
        width: 10rem;
        height: 15rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
    }

    .search-result > img {
        height: 100%;
        width: 100%;
        max-height: none;
    }

    .search-text {
        display: none;
    }
}